

.light ,.center{
  color: white !important;

}

.banner {
    height: 250px;
    background: linear-gradient(90deg,rgb(0,0,0) 0%, rgb(15,19,37,100%)100%);


}
@media screen and (max-width: 400px) {

.typewriter{
position: absolute;
top: 20%;
left: 50%;
  padding: 20px;
    transform: translate(-50%,-50%);
}
.super-title{
    display: none;
}

}
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.6s;
}








.card {
  --bg-filter-opacity: 0.9;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);

  font-size: 1.5em;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;

}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 0.4em;
  line-height: 0.4em;
}

.card p {
  font-size: 0.75em;
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}



.cliente{
    color:#fff;
    font-weight: bold;
}

.title{
left: 50%;
background: linear-gradient(90deg,rgba(87, 79, 150, 0.865) 0%, rgba(73,63,252,1)100%);
color: #fff;
border-radius: 10px;
top: 50%;
font-weight:bold;
position: absolute;
padding: 20px;
transform : translate(-50%,-50%);

}

strong{
    left: 50%;
    color: #fff;
    border-radius: 10px;
    top: 70%;
    position: absolute;
    padding: 10px;
    transform : translate(-50%,-50%);
    
    }